<div class="md-whiteframe-z1">
  <!-- Options -->
  <md-list>
    <md-list-item layout-padding layout-align="space-around center">
      <h2 class="md-title"> Personal Contact Info </h2>
      <md-button class="md-icon-button"><md-icon ng-click="noop()">mode_edit</md-icon></md-button>
    </md-list-item>

    <md-list-item class="md-2-line" >
        <md-icon>phone_iphone</md-icon>
        <div class="md-list-item-text" class="md-offset">
          <h3>(555) 251-1234  </h3>
          <p> Home  </p>
        </div>
      </md-list-item>
  </md-list>
</div>