<div layout="column" layout-align="center center" layout-fill>
  <md-card>
    <form>
      <md-toolbar layout-align="center center">
        <h3 class="md-title">Login</h3>
      </md-toolbar>
      <section layout-padding>
        <md-input-container>
          <label>Username</label>
          <input type="text" ng-model="vm.username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="vm.password">
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button href="#/orders">Login</md-button>
          <md-button href="https://synergbpo.com"><md-icon>close</md-icon></md-button>
        </div>
      </section>
    </form>
  </md-card>
  <h3 class="md-title">E Lipat Inc.</h3>
  <md-divider>
    <h4 class="md-subhead">2015</h4>
  </md-divider>
</div>
